* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-limbo {
    font-family: Oswald, sans-serif;
}

nav .navbar-brand {
    color: #ff305b;
    font-weight: 800;
    font-size: 20px;
}

header {
    background-image: url(../images/526903.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

header .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

header .layer h1 {
    font-weight: bolder;
    font-size: 70px;
    color: #ff305b;
}

#profile {
    margin: 10px 20px;
}

#profile i {
    font-size: 40px;
}

#profile .ml-auto li {
    margin: 0 5px;
}

#about {
    background-image: radial-gradient(circle at 1px 1px, #adabab 1px, transparent 0);
    background-size: 50px 30px;
}

.title h2 {
    font-weight: 800;
    font-size: 80px;
    color: #f1f1f1;
}

.title h3 {
    font-weight: 800;
    font-size: 50px;
    color: black;
}

#about .about-content {
    margin: 10px 20px;
}

#about .about-content p {
    font-size: 18px;
    font-weight: 400;
}

#about .about-img img {
    width: 80%;
}

#testimonial .carousel-item img {
    width: 80px;
    border: solid 2px #f1f1f1;
    border-radius: 50%;
    transform: translateY(50%);
}

#testimonial .client-feedback {
    border: solid 2px #f1f1f1;
    width: 75%;
}

#testimonial .carousel .carousel-indicators img {
    display: flex;
    justify-content: center;
    border-radius: 40%;
}

footer .footer-item img {
    width: 80px;
    margin-right: 4px;
}

footer .footer-item a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:500px) {
    header {
        height: 40vh;
    }
    .title h2 {
        font-size: 50px;
    }
    .title h3 {
        font-size: 35px;
    }
    header .layer h1 {
        font-size: 40px;
    }
    #testimonial .client-feedback {
        border: solid 2px #f1f1f1;
        width: 95%;
    }
    #about .about-content {
        text-align: center;
    }
}